@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*para cartel de warning*/
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_warning{
	margin: 10px 0px;
	padding:12px;
 
}

.isa_warning i{
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/*fin de para cartel de waring*/


body{
	background-color: white !important;
}



.input-custom{
	max-width: 350px;
	padding: 10px;
}

.padding{
	padding: 10px;
}


.btn-custom	{
	padding: 7px;
	border-radius: 5px;
	background-color: #FFC080; 
	border: 0px !important;
	color: #F37A21;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.btn-custom:hover{
	background-color: #F37A21;
	color: white;
}

.btn-custom:active{
    transform: scale(0.90);
	background-color: #F37A21;
}

.btn-custom,
.btn-custom:active,
.btn-custom:hover,
.btn-custom:visited,
.btn-custom:focus{
	outline: none !important;
	border: 0px !important;
}

.head{
	width: 100%;
	padding: 15px;	
}


.selectDoctor{
	width: 24vw;
}

.buttons{
	width: 72vw;
}


/*para el header*/
.myButton{
	padding: 5px;
	background-color: #FFC080; 
	border: 0px !important;
	color: #F37A21;
	text-align: center;
	text-decoration: none;
}

.buttonLeft{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.buttonRight{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.buttonMiddle{
	border-radius: 0px;
}

.myButton:active, .myButton:hover, .myButton:focus, .active{
	background-color: #ff6932;
	border-color: #ff6932;	
	color: white;	
	font-weight: bold;
}

.myButton:hover{
	transform: scale(1.05);
}



.calendar ,.container{
	text-align: center !important;
	width: 700px;
}
.container{
	margin-bottom: 50px;
}

.basic-slide {
	display: inline-block;
	width: 100%;
	padding: 7px;
	font-family: "Open Sans", sans;
	font-weight: 400;
	/* color: #377D6A; */
	background: #efefef;
	border: 0;
	border-radius: 3px;
	outline: 0;
	/* text-indent: 70px;  */

	
	/* &::-webkit-input-placeholder {
	  color: #efefef;
	  text-indent: 0;
	  font-weight: 300;
	}
   */
	
  }




.sohigh{
	height: 100px;
}

textarea{
	resize: none;
	overflow: auto;
}

.tag{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: rgb(255, 135, 37);
	margin-bottom: 0px !important;
	margin-top: 15px !important;
	max-width: 50%;
	padding: 2px;
	text-align: center;
}

.titletag{
	max-width: 100%;
}

.modal-body, .modal-header, .modal-footer{
	background-color: lightgray !important;
}

