

<div class="row  form-card">
	<div class="col my-form">
		<form (ngSubmit)="processForm()" id="contact" #contact = "ngForm" role="form">

			<!-- nombre y apellido -->
			<div class="text" title="Requerido">
				<span>Nombre y apellido</span><span class="asterisk">*</span>
			</div>
			<br>
			<input 
				id="name"
				type="text" 
				name="name" 
				class="input" 
				placeholder="Ingrese nombre" 
				[(ngModel)]="name"
				required
				minlength="3"
				autocomplete="off"
				#nameInput="ngModel">
			<div class="isa_error" *ngIf="nameInput.invalid && nameInput.dirty">
				<i class="fa fa-times-circle"></i>
				Minimo de letras en el nombre: 3
			</div>

			<!-- email -->
			<div class="text" title="Requerido">
				<span>Email</span><span class="asterisk">*</span>
			</div>
			<br>
			<input 
				id="email"
	            type="email" 
	            name="email" 
	            class="input" 
	            placeholder="Ingrese su email" 
	            [(ngModel)]="email"
	            required
	            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
				autocomplete="off"
	            #emailInput="ngModel">
			<div class="isa_error" *ngIf="emailInput.invalid && emailInput.dirty">
				<i class="fa fa-times-circle"></i>
				Ingrese un email valido.
			</div>

			<!-- mensaje -->
			<div class="text" title="Requerido">
				<span>Mensaje</span><span class="asterisk">*</span>
			</div>
			<br>
			<textarea 
				id="message"
	            name="message" 
	            placeholder="Ingrese el mensaje" 
	            [(ngModel)]="message"
	            required
	            rows="3"
	            cols="50"
	            maxlength="200" 
				autocomplete="off"
	            #messageInput="ngModel">
	        </textarea>
	        <div class="isa_error" *ngIf="messageInput.invalid  && messageInput.dirty">
	        	<i class="fa fa-times-circle"></i>
	        	Mensaje requerido
	        </div>
	        <br>

	        <!-- enviar una copia -->
	        <div>
	        	<label>
	        		<input 
	        			id="chkSendMe"
	        			type="checkbox" 
			            name="chkSendMe" 
			            class="my-checkbox" 
			            [(ngModel)]="chkSendMe"
			            #chkSendMeInput="ngModel"
			            >
	        		<span title="Enviarme una copia al email ingresado"> Enviarme una copia </span>
	        		<!-- para que el checked se desmarque dependiendo la variable
			            [checked] = "this.chkSendMe" -->
	        	</label>
	        	<br>
	        </div>

	        <!-- boton enviar -->
	        <button 
	        	type="submit" class="button is-danger is-large" 
	        	[disabled]="!contact.form.valid">
	        	<i class="fas fa-angle-double-right"></i>
	        	Enviar
	        </button>
		</form>
	</div>
	<div class="col letter">
		<img src="./assets/letter.png" height="196" width="212">
		<h4>Para contactarte con nosotros por favor completa el formulario de la izquierda.</h4>
		<h3>
  			<a href="http://medisoftware.com.ar/" target="_blank">
			<a style="color: #5F9EA0"><strong>Medi</strong></a>
			<a style="color: coral"><strong>Software</strong></a>
			</a>
		</h3>
	</div>
</div>


	
	