<!-- <div class="col">    -->
	<button type="button" (click) = "onChange('0')" class="btnIMG margins graphsIMG" role="button" 
			placement="right" title="Gráficos estadisticos" [routerLink] = "['/graphs']" [routerLinkActive] = "[ 'active' ]"> 
		<!-- <img src="/MediwareHub/webMS/assets/btnGraph.png" alt="Gráficos" class="btn-image"/> -->
	</button>

	<button type="button" (click) = "onChange('0')" class="btnIMG margins showturnsIMG" role="button" 
			placement="right" title="Mostrar turnos" [routerLink] = "['/turns']" [routerLinkActive] = "[ 'active' ]">
		<!-- <img src="/MediwareHub/webMS/assets/btnTurn.png" alt="Turnos" class="btn-image"/> -->
	</button>

	<button type="button" (click) = "onChange('1')" class="btnIMG margins realtimeIMG" role="button" 
			placement="right" title="Ver en tiempo real" [routerLink] = "['/now']" [routerLinkActive] = "[ 'active' ]">
		<!-- <img src="/MediwareHub/webMS/assets/btnNow.png" alt="Tiempo real" class="btn-image"/> -->
	</button>

	<button type="button" (click) = "onChange('0')" class="btnIMG margins clearIMG" role="button" 
			placement="right" title="Limpiar pantalla" [routerLink] = "['/home']">
		<!-- <img src="/MediwareHub/webMS/assets/close.png" alt="Limpiar" class="btn-image"/> -->
	</button>
<!-- 
</div> -->
