<div class="col">   
	<button type="button" (click) = "onChange('0')" class="btn-circle" role="button" placement="right" title="Gráficos estadisticos" [routerLink] = "['/graphs']" [routerLinkActive] = "[ 'active' ]"
		style="margin-right: 10px;">
		<img src="/MediwareHub/webMS/assets/btnGraph.png" alt="Gráficos" 
		style="margin-left:-10px; margin-top: -3px;"/>
	</button>

	<button type="button" (click) = "onChange('0')" class="btn-circle" role="button" placement="right" title="Mostrar turnos" [routerLink] = "['/turns']" [routerLinkActive] = "[ 'active' ]"
		style="margin-right: 10px;">
		<img src="/MediwareHub/webMS/assets/btnTurn.png" alt="Turnos" 
		style="margin-left:-10px; margin-top: -3px;"/>
	</button>

	<button type="button" (click) = "onChange('1')" class="btn-circle" role="button"  placement="right" title="Ver en tiempo real" [routerLink] = "['/now']" [routerLinkActive] = "[ 'active' ]"
		style="margin-right: 10px;">
		<img src="/MediwareHub/webMS/assets/btnNow.png" alt="Tiempo real" 
		style="margin-left:-10px; margin-top: -3px;"/>
	</button>

	<button type="button" (click) = "onChange('0')" class="btn-circle" role="button"  placement="right" title="Limpiar pantalla" [routerLink] = "['/home']"
		style="margin-right: 10px;">
		<img src="/MediwareHub/webMS/assets/close.png" alt="Limpiar" 
		style="margin-left:-10px; margin-top: -3px"/>
	</button>

</div>
