<div *ngIf="isLoading()">
  <loading></loading>
</div>


<div *ngIf="!isLoading()">

  <navBar></navBar> <!-- class="fixed-top" -->
  <body>
     

    <div  class="row" style="max-width: 100%">  
      <br>
        <!-- <div class="col-md-1 buttons"> 
            <buttons *ngIf="isLogged()"></buttons>
        </div>
           -->

        <div class="col-md-12" style="margin-left: 15px"> 
          <!--  && !isNotFilter() -->
          <!-- id="filters" -->
          <!--<div id="filters">
              <filters *ngIf="isLogged()"></filters>
            </div>-->
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- <div *ngIf="!emptyScreen">
      <p>sin filtros</p>
      <router-outlet></router-outlet>
    </div> -->

    

  </body>

  <Footer style="user-select: none;"></Footer>
</div>
  <uparrow></uparrow>

