<nav class="navbar navbar-expand-lg navbar-dark  bg-orange">
  <img src="./assets/medisoftware.png"  [routerLink] = "['']" alt="MEDICAL SOFTWARE" class="marca-ms" height="66" width="300"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        
    </ul>

    

    <button *ngIf="!isLogged() && !isLoading()" class="categories" [routerLink] = "['']"
                                  placement="bottom" title="Entrar" >
      ENTRAR
    </button>

    <div *ngIf="isLogged() && !isLoading()" class="btn-group" >
    <button class="categories" [routerLink] = "['']" >
        ESTADISTICAS
      </button>

      <button class="categories" [routerLink] = "['my_turns']">
        MIS TURNOS
      </button>


      <!-- <button class="categories" [routerLink] = "['medical_history']" >
        Historiales Clinicos
      </button> -->

      <button type="button" class="btnIMG contactIMG fake" title="Contacto" [routerLink] = "['contact']">
        *
        <!-- <img src="/MediwareHub/webMS/assets/contact.gif" alt="CONTACTO" height="45" width="45"> -->
      </button>

    </div>

    <div *ngIf="clientsExists() && isLogged() && !isLoading()" class="dropdown">
      <img src="/MediwareHub/webMS/assets/perfil.png" alt="USUARIO: " height="50" width="50">
      
      <!-- Conectado a  -->
      <strong id="usr">{{ user }}</strong>
      <div class="dropdown-content" *ngFor="let c of clients" >
        <button class="dropdown-item categories" type="button" *ngFor="let c of clients" #client (click)="changeClient(c.nombreFuente)" >  
            {{ c.nombreFuente }} 
        </button>
        <button class="dropdown-item exit" type="button"
                [routerLink] = "['login']" (click) = "logout()">  
            SALIR
        </button>

      </div>
    </div> 



  </div>
</nav>