<nav class="navbar navbar-expand-lg navbar-dark  bg-orange">
  <a class="navbar-brand" style="font-size: 25px; color: black; cursor: default;" [routerLink] = "['']">Medical Software</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link">
        <a  title="Contacto" [routerLink] = "['contact']"  style="font-size: 20px; color: black"> <small>Contacto</small> </a>
      </li>
  

      <button *ngIf="!isLogged() && !isLoading()" class="userConnected" [routerLink] = "['']" 
                                    style=" border-radius: 5px !important;" 
                                    placement="bottom" title="Entrar" >
        Entrar
      </button>

      <div *ngIf="isLogged() && !isLoading()" class="btn-group" style="margin-left: 10px !important; margin-right: 10px !important; ">
      

        <button class="userConnected" [routerLink] = "['']" 
                                      style=" border-top-left-radius: 5px !important;
                                              border-bottom-left-radius: 5px !important;" >
          Estadisticas
        </button>

        <button class="userConnected" [routerLink] = "['my_turns']"
                                      style=" border-top-right-radius: 5px !important;
                                              border-bottom-right-radius: 5px !important">
          Mis Turnos
        </button>

        <!--<button class="userConnected" [routerLink] = "['medical_history']" 
                                      style=" border-top-right-radius: 5px !important;
                                              border-bottom-right-radius: 5px !important">
          Historiales Clinicos
        </button>-->
      </div>


      

    <div *ngIf="clientsExists() && isLogged() && !isLoading()" class="input-group" style=" max-width: 250px;">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="usr">
          Conectado a <strong>{{ this.user }}</strong>
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdownContainer">
          <button class="dropdown-item userConnected" type="button" *ngFor="let c of clients" #client (click)="changeClient(c.nombreFuente)"
          style="text-align: center;">  
            {{ c.nombreFuente }} 
          </button>
            <button class="btn btn-danger my-2 my-sm-0" style="width: 100% !important; background-color: rgb(255, 179, 102); border: 0px; color: black" 
            [routerLink] = "['login']" (click) = "logout()">
              <strong>
                SALIR
              </strong>
          </button>
        </div>
      </div>

    </div>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>