.calendar{
	background-color: white !important;
}

.container{
	margin-bottom: 50px !important;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.col-md-4,.row, .text-center{
	margin: 0px !important;
	padding: 0px !important;
}